@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
https://www.royalenfield.com/in/en/support/
https://www.royalenfield.com/in/en/motorcycles/
https://www.royalenfield.com/in/en/forms/become-a-dealer/
*/